In [ ]:
作業目標:

運用編碼處理類別資料
補缺失值
作業重點:

類別編碼有多種方法，需分辨使用方法與時機
補缺失值須因應情境決定如何補值
題目 : 將以下問卷資料的職業(Profession)欄位缺失值填入字串'others'，更進一步將字串做編碼。 此時用什麼方式做編碼比較適合?為什麼?

import pandas as pd
q_df = pd.DataFrame([['male', 'teacher'], ['male', 'engineer'], ['female', None], ['female', 'engineer']],columns=['Sex','Profession'])

In [5]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
q_df = pd.DataFrame([['male', 'teacher'], ['male', 'engineer'], ['female', None], ['female', 'engineer']], columns=['Sex','Profession'])

In [6]:
fill_ans = q_df.fillna('others')
fill_ans

      Sex Profession
0    male    teacher
1    male   engineer
2  female     others
3  female   engineer

In [8]:
fill_ans['Sex_Label'] = LabelEncoder().fit_transform(fill_ans['Sex'].values)
fill_ans

      Sex Profession  Sex_Label
0    male    teacher          1
1    male   engineer          1
2  female     others          0
3  female   engineer          0

In [9]:
profession_encoder = pd.get_dummies(fill_ans[['Profession']])
ans = pd.concat([fill_ans, profession_encoder], axis = 1)
ans

,Sex,Profession,Sex_Label,Profession_engineer,Profession_others,Profession_teacher
0,male,teacher,1,0,0,1
1,male,engineer,1,1,0,0
2,female,others,0,0,1,0
3,female,engineer,0,1,0,0